/* wildcard selector used to override default browser styles*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*general*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* generic styles */
    color: black;
}

/* Header */
header {
    
}

/* Main */
main {
    /*flex property here is to push the footer to the bottom of the screen*/
    flex: 1 0 auto;
}

/* Footer */
footer {

}